body{
	font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.73333333;
    color: #222533;
    background-color: #ffffff;
    /*background-color: #f5f5f5;*/
    -webkit-text-size-adjust: none;
}

.navbar-default {
    background-color: #00b8d6;
    border-color: #00b8d6;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: rgb(0, 154, 179);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    font-family: inherit;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.42857143;
    color: #333;
}

#galeria{
	margin-top: 2.68%;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.txt-pr{
	color: #21c2f8;
}

h2 small {
    font-weight: 300;
    color: #21c2f8;
    font-size: inherit;
}

h2, .h2 {
    font-size: 54px;
    line-height: 1.11111111;
    letter-spacing: -1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 1.73333333;
    margin: 0;
}

.rights {
    margin-top: 0px;
    font-size: 13px;
}

a {
	color: black;
    text-decoration: none;
}

a:focus, a:hover {
    color: #21c2f8;;
    text-decoration: none;